@using CoderBlog.UI.Models.Yazi
@using CoderBlog.Entities
@model YaziVM


   
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Kategori</label>
                <select class="form-control form-control-sm" id="kategoriList">
                    @foreach (var item in (List<Kategori>)ViewBag.KategoriList)
                    {
                        if (Model.KategoriId == item.Id)
                        {
                            <option value="@item.Id" selected>@item.Adi</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Adi</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Başlık</label>
                <input class="form-control form-control-sm" id="txtBaslik" rows="3" maxlength="60" value="@Model.YaziBaslik" />
            </div>
            <div class="mb-3">
                <label class="form-label">Yazı Kapak Resmi Seçiniz</label>
                <a class="button actionSelect">
                    <input type="file" id="select" value="Choose Image" accept="image/*">
                </a>
                <img class="my-image" id="main-cropper" src="~/Resources/YaziKapakResim/@Model.YaziKapakResim" style="overflow-x:scroll;margin:5px" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <textarea id="txtyaziIcerik">@Model.YaziIcerik</textarea>
        </div>
    </div>

    <script>
        
        tinymce.init({ selector: 'textarea', content_style:'img {max-width: 100%;}', height: 500 });

        var imageCroopie = $('#main-cropper').croppie({
            viewport: { width: 750, height: 350 },
            boundary: { width: 1000, height: 500 },
            showZoomer: false,
            enableExif: true
        });

        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    kapakResimBase64 = e.target.result;
                    $('#main-cropper').croppie('bind', {
                        url: e.target.result
                    });
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('.actionSelect input').on('change', function () { readFile(this); });

    </script>

    